* { margin: 0; padding: 0; }
a { text-decoration: none; color: blue; }
a:hover { text-decoration: underline; }
body { font: 15px/1.3 'Lucida Grande', sans-serif; color: #333; background-color:#fff }


div.tweets {
/*  margin-top: 2em;*/
}

/*Tweet styles*/
.tweet_list li:nth-child(even), .tweet_list li:nth-child(odd) {
	padding: 0.2em 0.4em 0.2em 60px; /* The 60px left margin is to allow room for the profile image */
	margin:0;
	min-height: 52px; /* To make sure short messages don't cut off profile image */
	word-wrap: break-word;
/*  border-top: solid 1px #aaa;*/
}

.tweet_list li:nth-child(even) {
	background-color: #e0eafa;    /* light blue */
}

.tweet_list li.mine {
  background-color: #d4f4ce;    /* light green */
}

.tweet_list li.tome {
  background-color: #f6d2d1;    /* pink */
}

img.profile_image {
	float:left;
	margin: 3px auto 2px -54px; /* Negative margin places the profile image in the space created by the padding in .tweet_list li */
}
a.user {
	font-weight:bold;
	font-size: 90%;
	text-decoration:none;
}
a.reply, a.favorite, a.retweet, a.delete {
  font-weight: bold;
  text-decoration: none;
  color: black;
  float: right;
  width: 2em;
  text-align: center;
  margin-right: -0.4em;
}

a.time {
	color: #666;
	font-size: 75%;
}

span.info {
  color: #666;
  font-size: 75%;
  font-style: italic;
}

#message_entry {
	background-color: #e8e8e8;
	margin:0;
	padding:0;
	position: fixed;
	bottom: 0; left: 0;
	z-index: 10;
	width:100%;
	border-top: solid 2px #bebebe;
/*  display: none;*/
}
form {
	margin: 0.4em 0.5em;
}	
textarea#status {
	width: 100%;
	height: 5em;
	font-size: 1em;
	line-height: 1.25;
	margin-right:auto;
	margin-left:auto;
  margin-top: .2em;
}
input#send {
	float: right;
}
input#status:focus, input#status:active, a:focus, a:active
{
	color:#000;
    background-color:#ffa;
}

label {
	display:block;
}

label.normal {
  color: black;
}
label.warning {
  color: red;
}
